/* Navbar styling */

.navbar {
  width: 100%;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #f2eaf9;
}
.navbar h2 {
  width: fit-content;
}

.first-half {
  background-color: #8c4382;
  color: #dce0fd;
  border-radius: 5px;
  padding: 2px;
}

.second-half {
  color: #000;
}

.navbar button {
  background-color: transparent;
  color: #8c4382;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 15px;
  border: 2px solid #8c4382;
  transition: background-color 0.2s;
}

button:active {
  background-color: #8c4382;
  color: #f2eaf9;
}
